
@font-face {
  font-family: "Apercu-Bold";
  src: url("../font/apercu/fontie-package/Apercu-Bold.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Apercu-Light";
  src: url("../font/apercu/fontie-package/Apercu-Light.woff");
  font-weight: 400;
  font-style: normal;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Apercu-Bold';
    background:#f8f8f8;
    color:#000000;
}
.colorBlue{
  color:#3B4859;
}
.fontLight {
  font-family: 'Apercu-Light';
}
.product_description{
   font-family: "Apercu-Light";
   padding:25px;
   color:#3B4859;
   height:220px;
}
.fontBold {
  font-family: 'Apercu-Bold';
}

html, body, .container-table {
   height: 100%;
}
.container-table {
   display: table;
}
.vertical-center-row {
   display: table-cell;
   vertical-align: middle;
}

/* NAV BAR */
.navbar-custom {
    font-family: 'Apercu-Light';
    margin-top:10px;
    color:#ffffff;
    border-radius:0;
    font-size: 18px;
}

.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color:#ffffff;
  background-color:transparent;
}
.navbar-custom .navbar-brand {
  font-size: 26px;
  color:#ffffff;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent !important;
}

/* FIRST SCREEN */
.firstScreen-wrapper {
  top: 0px;
  left: 0px;
  background-image: url("../img/spec-14-24.png") ;
  background-size: cover;
}

.catchPhrase {
  width: 80%;
  margin: 0 auto;
}

.catchPhrase h1{
  font-family: 'Apercu-Light';
  text-align: center;
  margin-top: 100px;
  font-size: 34px;
  color:#ffffff;
}

.fill {
  height:450px;
}
.line{
      width: 100%;
      height: 1px;
      background: grey;
      opacity: 0.2;

}
/* OUR EQUIPMENTS */
.rowMateriel{
    max-width: 1080px;
    margin: 0 auto;

}
.ourMat {
  padding-bottom: 50px;
  margin-top:-165px;
}

.ourMat h1 {
  text-align: center;
  padding-bottom: 40px;
  color:white;
  font-size:28px;
}

.aEquip-wrapper {
  text-align: center;
}

.aEquip {
  border-radius: 12px;
  background: white;
<<<<<<< HEAD

=======
  margin-top:10px;
  
>>>>>>> origin/master
  /*padding : 0px 25px 15px 25px;*/
  border:1px solid #E6E6E6;
}
.aEquip h4{
  padding:10px;
}
.logoEquip {
  vertical-align: center;
  padding: 50px;
  height:140px;
}

#svg1 {
  width:130px;
}
#svg2 {
  width:60px;
  margin-top:-12px;
}
#svg3 {
  width:150px;
}
.product_container{
  height:150px;
}
.oculus_img{
  width:250px;
}
.htc_img{
  width:140px;
  margin-top:20px;
}
.samsung_img{
  margin-top: 10px;
  width:190px;
}
/* OUR PRICES */
.ourPrices {
  padding-bottom: 50px;
}

.ourPrices h1, .contact h1 {
  text-align: center;
  font-size:28px;
  color:#3B4859;
}

.whateWeOffer {
  text-align: center;
  padding: 20px;
}
.selected-custom{
  border-bottom: 2px solid #3B4859;
  color:#3B4859 !important;
  font-family: "Apercu-Bold" !important;
  opacity:1 !important;
}
.whateWeOffer a {
  color : #000000;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.selected2{
  color:#3B4859;
  font-family: "Apercu-Bold";
}
.whateWeOffer span {
  color:#3B4859;
  padding: 0 50px 12px 50px;
  font-family: "Apercu-Light";
  opacity:0.5;

}

.whateWeOffer span:hover {
  opacity:1;
}

.offers {
  max-width: 900px;
  margin: 0 auto;
  margin-top:40px;
}

.aPrice {
  text-align: center;
  padding:10px;
}

.offer {
  padding: 30px 15px 30px 15px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #E6E6E6;
}

.perDay {
  font-size: 10px;
}
.aPrice h5{
  font-size:18px;
  height:50px;
}
.aPrice h5, h2 {
  margin-bottom: 65px;
}

.aPrice h2 {
  font-size: 50px;
}
.btn-custom{
  background:#29ABE2;
  color: white;
  font-size: 16px;
  border-radius: 111px;
  width: 180px;
  padding: 10px;
}
.btn-custom:hover{
  opacity:0.7;
  color:white;
}
/* CONTACT */
.contact {
  text-align: center;
  margin-bottom:80px;
}

.contact h1 {
  padding-bottom: 15px;
}

.contact p {
  margin: 0 auto;
  width: 400px;
}

.contact h4 {
  font-size: 16px;
}
.contact_description{
  color: #3B4859;
  font-family: "Apercu-Light";
  opacity: 0.8;
  font-size:16px;
}

@media only screen and (max-width: 600px) {
    .catchPhrase h1{
      margin-top:20px;
    }
}

